body{cursor: url(../assets/browndot.png), default; font-family:calibri !important; zoom:1.25;}
body * {font-family:inherit;}
html,body{width:100%;height:100%;overflow:hidden;margin:0;}


#prevPage,#nextPage {
  position: absolute;  
  width:15%;
  z-index:9;
  height:80%;
  height:calc(100% - 77px);
  top:70px;
  &:hover {background:black;opacity:0.2;}
}
#nextPage {right:20px;}
#prevPage {left:10px;} 




#info {
  position: absolute;
  width:100%;
  left:0px;
  top:0px;
  color: #b0b0f7;
  font-size:1.1em;
  text-align:left;
  border-bottom: 1px solid #555;
  padding-top:5px;
  height:20px;
  overflow:hidden;
  background: #211e1e;
  z-index: 2;
  span {margin-left:60px;}
  span.s3,span.s4 {font-style:italic;font-size:85%;color:#a4a4a4;}
  span.s1 {font-style:italic;color:#d89a9a;}
  input {
    width: 35px;
    text-align: center;
    margin-left: 5px;
    border: 2px solid #aaa;
    border-radius: 3px;
    background: black;
    height: 13px;
    color: white;
    position: absolute;
    padding-top: 0px;
    top: 4px;
  }
}

#prompt {
  position:absolute;
  top: 32px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  text-align: center;
  font-size: 24px;
  font-style:italic;
  box-sizing:border-box;
  z-index:2
}

#area {
  width: 100%;
  height: calc(100% - 28px);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  zoom: 0.8;
  position: absolute;
  top: 32px;
  left: 0px;
  z-index: 1;
  div {height:auto;}
}

iframe {min-height:95%;}

#dropzone {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -200px;
  padding-right: 200px;
  display:none;
  z-index:1000;
}

#loading {
  display:none;
  position: absolute;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background-color:black;
  opacity:0.7;
  background-image: url(../assets/wait2.gif);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

::-webkit-scrollbar {
  width:12px;
  &-thumb {
    background-color:#888;
    &:hover{background-color:#aaa;}
  } 
} 

center {text-align:center;}

#library {
  display:none;
  position:absolute;
  z-index:10;
  height: calc(100% - 29px);
  width: calc(100% - 6px);
  top: 26px;
  left: 3px;
  background: #355555;
  border:1px solid silver;
  border-radius: 5px;
  overflow-x:hidden;
  overflow-y:auto;
  ul {
    margin:0;
    padding:0;
    font-size:1.2em;
    li {
      display:inline-block;
      width:200px;
      margin:8px;
      label {
        padding:5px;color:#ccc;
        display:block;height:40px;
        span {font-size:90%;color:#ff9b9b;font-style:italic;}
      }
      img {
        cursor:pointer;
        border-radius: 10px;
        border: 1px solid white;
      }
    }
  }
}

* {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;           
}  